<h3>RAM</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <canvas #chart width="400" height="200"></canvas>
        </div>
    </div>

    <div class="row">
      <div class="col text-nowrap">
        <small class="text-muted ml-3">RAM usage:</small>
        <span class="badge badge-primary">{{labels.used | bytes:2}}</span>
        <span class="badge badge-success">{{labels.percent | number : '1.1-1'}}%</span>
        
      </div>
    
      <div class="col text-muted text-nowrap">

        <span class="mr-2">
            <small>Total:</small>
            <span class="badge badge-default">{{labels.total | bytes:2}}</span>
        </span>        
        <span class="mr-2">
            <small>Free:</small>
            <span class="badge badge-default">{{labels.free | bytes:2}}</span>
        </span>
        <!-- <span class="mr-3">
            <small>Buffers:</small>
            <span class="badge badge-default">{{labels.buffers | number}}</span>
        </span> -->
      </div> 
    </div>
</div>